<div class="container">
<h1>New Place</h1>

<%= form_with :model => @place do |form| %>
  <p>
    <%= form.label "name" %>
    <%= form.text_field "name" %>
    <%= form.hidden_field "user_id" %>
  </p>

  <button type="submit" class="btn btn-success">Submit</button>

  <!-- <p>
    <%= form.submit %>
  </p> -->

<% end %>
</div>